
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}
.form-container label{
    float: left;
}

.form-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 90%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background: #0056b3;
}

.toggle-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.error-msg{
    background-color: rgb(255, 0, 0,0.5);
    color: red;
    display: block;
    animation: blink 1s infinite;
  }
.success{
    background-color: rgba(46, 185, 65, 0.5);
    color:green;
    display: block;
    animation: blink 1s infinite;
}

